{{#unless logged}}
  {{panel-errored errored=true titleText="inputs route" messageError="Need to login first" }}
{{else}}
  {{panel-errored errored=false titleText="inputs route" message="working like a charm!" }}
  
  <h3 class="col-lg-12 text-center">Inputs</h3>
  {{input-generic ids="test001" labelText="Input text 1"}}

  <h3 class="col-lg-12 text-center">Dropdowns</h3>
  {{dropdown-generic ids="test002" labelText="Simple Select"}}

  {{dropdown-generic ids="test003" labelText="Select with multiple attr" isMultiple="true" }}

  <h4 class="col-lg-12 text-center">Dropdowns</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{dropdown-bs}}

  <h3 class="col-lg-12 text-center">Checkboxes</h3>
  {{checkbox-generic list=model.chkBox001}}

  <h4 class="col-lg-12 text-center">Checkboxes</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{checkbox-bs}}

  <h3 class="col-lg-12 text-center">Radio</h3>
  {{radio-generic list=model.radio001}}

  <h4 class="col-lg-12 text-center">Radio</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{radio-bs}}

  <h4 id="titleButtons" class="col-lg-12 text-center">Buttons</h4>
  <script>
    function clicker_waits() {
      setTimeout(function(){ document.getElementById('btnInvisibleAtTimeout').style.display = 'none'; }, 2500);
      setTimeout(function(){ document.getElementById('btnVisibleAtTimeout').style.display = 'initial'; }, 2500);
      setTimeout(function(){
        let ele = document.getElementById('btnInvisibleAtTimeout');
        ele.style.display = 'initial';
        ele.value = "bad_text";
      }, 5000);
      setTimeout(function(){ document.getElementById('titleButtons').innerText = "Buttonss"; }, 5000);
    }
  </script>
  <input id="btnInvisibleAtTimeout" class="col-lg-4 btn btn-warning" type="button" onclick="clicker_waits()" value="Invisible at timeout button" />
  <input id="btnVisibleAtTimeout" class="col-lg-4 btn btn-success" style="display:none;" type="button" value="Visible at timeout button" />
  <hr>

{{/unless}}

{{outlet}}
