{{#unless logged}}
  {{panel-errored errored=true titleText="inputs route" messageError="Need to login first" }}
{{else}}
  {{panel-errored errored=false titleText="inputs route" message="working like a charm!" }}
  
  <h3 class="col-lg-12 text-center">Inputs</h3>
  {{input-generic ids="test001" labelText="Input text 1"}}

  <h3 class="col-lg-12 text-center">Dropdowns</h3>
  {{dropdown-generic ids="test002" labelText="Input text 2"}}

  <h4 class="col-lg-12 text-center">Dropdowns</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{dropdown-bs}}

  <h3 class="col-lg-12 text-center">Checkboxes</h3>
  {{checkbox-generic list=model.chkBox001}}

  <h4 class="col-lg-12 text-center">Checkboxes</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{checkbox-bs}}

  <h3 class="col-lg-12 text-center">Radio</h3>
  {{radio-generic list=model.radio001}}

  <h4 class="col-lg-12 text-center">Radio</h4>
  <p class="col-lg-12 text-center"><i>with ember-bootstrap components</i></p>
  {{radio-bs}}
{{/unless}}

{{outlet}}
